@model Mictlanix.Iam.Models.Organization

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>Empresa</legend>

    <div class="display-label">Nombre</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Nombre)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="@Mictlanix.Iam.Properties.Resources.Delete" /> |
        @Html.ActionLink(Mictlanix.Iam.Properties.Resources.BackToList, "Index")
    </p>
}
