@{
    ViewBag.Title = Mictlanix.Iam.Properties.Resources.Title_About;
}

<h2>@Mictlanix.Iam.Properties.Resources.DisplayName_About</h2>

<img src="@Url.Content("~/Content/images/mtx-logo-small.png")" alt="Mictlanix" style="float:right;"/>
<leyend>@Mictlanix.Iam.Properties.Resources.Authors:</leyend>
<ul>
    <li>Angélica Jiménez &lt;melekika@mictlanix.org&gt;</li>
    <li>Eddy Zavaleta &lt;eddy@mictlanix.org&gt;</li>
    <li>Eduardo Nieto &lt;enieto@mictlanix.org&gt;</li>
</ul>
<h3>Free/Libre/Open Source Software</h3>
<p>
    Mictlanix Iam is free/open source software released under the MIT/X11
    license. Mictlanix Iam is Copyright 2011 by Eddy Zavaleta, Mictlanix
    and its other contributors where noted in source code.
</p>
<h3>MIT/X11 License</h3>
<p>
    Copyright &copy; 2011 Eddy Zavaleta, <a href="http://www.mictlanix.org">Mictlanix</a>
    and contributors.
</p>
<p>
    Permission is hereby granted, free of charge, to any person obtaining
    a copy of this software and associated documentation files (the
    "Software"), to deal in the Software without restriction, including
    without limitation the rights to use, copy, modify, merge, publish,
    distribute, sublicense, and/or sell copies of the Software, and to
    permit persons to whom the Software is furnished to do so, subject to
    the following conditions:
</p>
<p>
    The above copyright notice and this permission notice shall be
    included in all copies or substantial portions of the Software.
</p>
<p>
    THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND,
    EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF
    MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND
    NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE
    LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION
    OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION
    WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.
</p>
