@{
    ViewBag.Title = Mictlanix.Iam.Properties.Resources.Title_Home;
}

<h2>@Mictlanix.Iam.Properties.Resources.Welcome</h2>
<p style="text-align:center;">
    <img src="@Url.Content("~/Content/images/welcome.png")" alt="@Mictlanix.Iam.Properties.Resources.Welcome"/>
</p>
