@{
    ViewBag.Title = Mictlanix.Iam.Properties.Resources.Title_Home;
}

<p class="center">
    <img src="@Url.Content("~/Content/images/welcome.png")"
         alt="@Mictlanix.Iam.Properties.Resources.Welcome"
         style="margin:50px 0;"/>
</p>
